* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    color: black;
}

.footer{
    padding: 15px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: black;
    padding: 0 20px;
}

.github {
    color: black;
    text-decoration: none;
    line-height: 45px;
}

.date {
    padding-right: 20px;
}

.footer-github {
    display: flex;
    align-items: center;
}

.github,
.date,
.rss {
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 50px;
    color: black;
    transition: 0.3s;
}

.rss {
    text-decoration: none;
    width: 100px;
    display: flex;
}

.logo{
    width: 100%;
}

.github:hover,
.rss:hover {
    color: #bdae82
}
  
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-image: linear-gradient(to top left, #e7eb17, #0c92e0);
    font-family: arial;
    position: relative;
    text-align: center;
  }
  
.main {
    width: 250px;
    padding: 10px 0;
    margin: 50px auto;
    background-color: rgba(203, 230, 48, 0.411);
}
  
  @media only screen and (min-width: 768px) {
    .main {
      width: 310px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .main {
      width: 560px;
    }
  }
  
  .box {
    background-image: url(./assets/jpg/paw.webp);
    background-size: cover;
    width: 50px;
    height: 50px;
    float: left;
    margin: 10px 0 0 10px;
  }
  
  @media only screen and (min-width: 1024px) {
    .box {
      width: 100px;
      height: 100px;
    }
  }
  
  .box.play:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  
  .box img {
    width: 100%;
    display: block;
    border: solid 1px transparent;
    height: 100%;
  }
  
  .box .outlined {
    border: solid 1px #34495e;
    height: 100%;
    opacity: 0.95;
  }
  
  #state {
    background-image: linear-gradient(to top left, #e7eb17, #9bf7e0);
    background-size: 250%;
    width: 230px;
    line-height: 25px;
    float: left;
    margin: 10px 0 0 10px;
    padding: 0 10px;
    color: white;
    font-size: 16px;
  }
  
  @media only screen and (min-width: 768px) {
    #state {
      width: 290px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    #state {
      width: 540px;
      line-height: 35px;
    }
  }
  
  #time {
    float: left;
  }
  
  #time::after {
    content: " sec";
  }
  
  #score {
    float: right;
  }
  
  #score::after {
    content: " points";
  }
  
  .hidden {
    display: none !important;
  }
  
  .show {
    display: block;
  }

  #pre {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  #themes {
    margin: auto;
    padding: 20px;
    width: 300px;
    background: white;
    color: black;
  }
  
  #themes p {
    margin-top: 10px;
    padding: 10px 20px;
    border: solid 1px;
    background: white;
    color: black;
    cursor: pointer;
    font-size: 16px;
  }
  
  #themes p:hover {
    background: grey;
    background-size: 250%;
    color: white;
  }
  
  #pre h2, #post h2 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

  #post {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
  }
  
  #post > div {
    width: 300px;
    padding: 20px 0 40px;
    background: white;
    color: black;
  }
  
  #post p:first-child, 
  #post #final {
    font-weight: bold;
    letter-spacing: 2px;
    margin: auto;
    padding: 10px 20px;
  }
  
  #post #again {
    color: black;
    text-decoration: none;
    margin: auto;
    padding: 10px 20px;
    width: 160px;
    border: solid 1px;
  }
  
  #post #again:hover {
    background: grey;
    background-size: 250%;
    color: white;
    cursor: pointer;
  }

  .scoreboard{
      margin: 0 auto;
      background-color: rgba(203, 230, 48, 0.411);
      padding: 10px;
  }

  .scores{
      border: 2px solid black;
      margin-bottom: 10px;
      width: 300px;
      background-image: linear-gradient(to top left, #e7eb17, #9bf7e0);
      color: white;
      padding: 10px;
  }